<h1>EDIT POKEMON TYPE</h1>
<%= form_for(@pokemon_type) do |f|%>
  <label>Pokemon: <%=@pokemon_type.name %></label><br>

  <label>Type Id:</label><br>
  <%= f.text_field :type_id %><br>

  <%= f.submit %>

<%end%>